DATABASE_URL="postgresql://postgres:postgres@localhost:5432/panoramax?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/panoramax?schema=public"
PORT=3001
HOST=0.0.0.0
BRIGHTDATA_API_KEY=
